<script>
        $('document').ready(function () {
          debugger;
          GetPagesLists();

       });
    $("#btnsave").click(function() {
      //  GetPagesLists();
      debugger;
        Insert();
    });

    function Insert()
    {
      debugger;
       es= "";
       let nm= $("#nameid").val();
    
       let em= $("#emailid").val();
      let pw= $("#passwordid").val();
      let csr=$("input[name=csrfmiddlewaretoken").val();
      if(nm == ""){
        console.log("Enter Name");
       }
     else if(em==""){
        console.log("Enter Email");

     }
     else if (pw == ""){
        console.log("Enter Password");
     }
     else{
        datas={name:nm,email:em,password:pw,csrfmiddlewaretoken:csr };
      $.ajax({
          url:"{% url 'save' %}",
          method:"POST",
          data: datas,
          success : function (data)
          {
              debugger;
              x=data.student_data;
           if(data.status =="Save"){
        
             for(i=0;i<x.length;i++)
             {
              es += '<tr><td>' + x[i].id + '</td>';
                es += '<td>' + x[i].name + '</td>';
                  es += '<td>' + x[i].email + '</td> ';
                  es += '<td>' + x[i].password + '</td> ';
                  es += "<td><input type='button' value='Edit' class='btn btn-warning btn-sm' data-sid=" + x[i].id +"/> <input type='button' value='Delete' class='btn btn-danger btn-sm' data-sid="+ x[i].id+"/></td>" ;
                  es +="</tr>";
         
             }  
             $("#tbody").html(es);       
             $("form")[0].reset();
     
           }
           if(data.status==0){
               alert("Unable to save Data and Correct Email");
               
           }
          },
      });
    }
  }
    // function GetPagesLists(){
    //   debugger;
    //     $.ajax({
    //       url:"{% url 'post_friend' %}",
    //       method:"POST",
    //       data: serializedData,
    //       success : function (data) {
    //         var es = '';
    //                  var i = 1;
    //                  $.each(data, function (key, item) {
    //                   debugger;
    //                      es += '<tr><td>' + x[i].id + '</td>';
    //                      es += '<td>'+x[i].name+'</td>';
    //                      es += '<td>' +x[i].email+ '</td>';
    //                      es += '<td>'  +x[i].password+ '</td> '; 
    //                      es += '</tr>'; 
    //                    i++;
    //                });
    //                $('#tbody').html(es);
        

    //             },

    //         });
    //     }
    


</script>